h1{
    margin-bottom: 30px;
    
    text-decoration: underline;
}
input{
    margin-right: 10px;
    margin-bottom: 20px;
    width: 200px;
    
    border: solid;
    font-weight: bold;
}
button{
    margin-bottom: 20px;
    background-color: teal;
    font-weight: bold;
}
hr{
    margin-bottom: 15px;
}
body{
    background: #00F260;  
	background: -webkit-linear-gradient(to right, #0575E6, #00F260);  
	background: linear-gradient(to right, #0575E6, #00F260); 
}
